.footer-container{
    border-top: 8px solid rgb(9, 0, 94);
    width: 100%;
    height: auto;
    background-color: rgb(1, 3, 44);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
    margin: 2rem;
}
.footer-container-social-media-icons{
    margin: 0px 1rem;
    font-size: 2rem;
}
.footer-container-category-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.footer-container-category-links{
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 1px;
    list-style: none;    
    color: #fff;
    margin: 0px 0.5rem;
    text-decoration: none;
}
.footer-container-category-links:hover{
    color: #fff;
}
.copyright{
    justify-content: center;
    align-items: center;
    color: rgb(141, 141, 141);
}
.copyright p{
    margin: 0px 1rem;
}
